.container {
  display: grid;
  grid-template-columns: 266.48px 1fr;
  align-items: flex-start;
  gap: 2rem;

  max-width: 640px;
  width: 90%;
  margin: 4.125rem auto 0 auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
