* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

.grid {
  display: grid;
}

.column {
  grid-auto-flow: column;
}

.element-right {
  text-align: right;
}

.margin-top {
  margin-top: 2.4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  letter-spacing: -0.02em;

  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat
    fixed;

  display: grid;
  place-content: center;
}

h1,
strong {
  font-weight: 500;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-align: center;

  margin-top: 3.8rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.64);
}

section {
  background-color: white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#boarding-pass {
  margin: auto;
}

#ticket {
  margin-top: 2rem;
}

#top,
#middle,
#bottom {
  padding: 2.4rem 3.2rem;
}

#top {
  border-radius: 2.4rem 2.4rem 0 0;
  --mask: radial-gradient(1.2rem at 1.2rem bottom, #0000 93%, black) -1.2rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}

#middle {
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-left: 0;
  border-right: 0;

  --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, #0000 93%, black) -1.2rem -1.2rem;
}

#bottom {
  border-radius: 0 0 2.4rem 2.4rem;

  --mask: radial-gradient(1.2rem at 1.2rem top, #0000 93%, black) -1.2rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}

#bottom .container {
  align-items: center;
  gap: 0.8rem;
}

#bottom > p {
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 2.4rem;
  text-align: center;
}

dl.grid {
  gap: 1rem;
}

dl time {
  padding: 0.4rem 0.8rem;
  background: #633bbc;
  border-radius: 8px;
  color: white;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: inline-block;
}

.departure strong,
.arrival strong {
  font-size: 4rem;
  line-height: 4.7rem;
}

.departure time,
.arrival time {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.8);
}

.arrival time sup {
  font-size: 1rem;
  line-height: 1.2rem;
}

.arrival {
  width: 12.1rem;
}

.airplane {
  align-items: center;
  margin-left: 1rem;
}

footer {
  margin-top: 2rem;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: white;
  opacity: 0.64;

  max-width: 26.9rem;
  margin: 0 auto;
}
